<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Simple RPC Config Editor</title>

    <link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/editor.css" type="text/css">

</head>
<body style="overflow: hidden;">

    <div id="app" style="overflow: hidden">

        <div class="splashscreen">
            <div class="text-center">
                <img src="assets/img/rpc_edit.svg" />
                <br><br>
                <h4 data-text="Loading..." class="loading-animation">Loading...</h4>
                <br>
            </div>
        </div>

        <div class="noconfigsplash" v-if="!isConfigLoaded">
            <div class="text-center">
                <img src="assets/img/rpc_edit.svg" />
                <br><br>
                <p><b>Please choose a config file to get started</b></p>
                <a href="#" v-on:click="loadConfigFile" class="btn btn-outline-info btn-sm">Load Config</a>
                <br><br>
                <p class="text-danger">{{configError}}</p>
            </div>
        </div>

        <div class="aboutsplash" v-if="showAbout">
            <div class="text-center">
                <img src="assets/img/rpc_edit.svg" />
                <br><br>
                <p><b>Version: {{aboutInfo.appver}} | NeutralinoJS Version: {{aboutInfo.nlversion}} | OS: {{aboutInfo.os}}</b></p><br>
                <p><b>Technologies:</b></p>
                <p><a href="#" v-on:click="openexternal('https://getbootstrap.com/')">Bootstrap 4</a>, <a href="#" v-on:click="openexternal('https://vuejs.org/')">VUE.js</a>, <a href="#" v-on:click="openexternal('https://fontawesome.com/')">Font Awesome</a>, <a href="#" v-on:click="openexternal('https://neutralino.js.org/')">NeutralinoJS</a>, <a href="#" v-on:click="openexternal('https://github.com/hypherionmc/fast-toml/')">Fast-Toml</a></p><br>
                <p><b>License: </b></p>
                <p>This app and code is licensed under the MIT license. You can read the full license <a href="#" v-on:click="openexternal('https://github.com/hypherionmc/simple-rpc-editor/blob/master/LICENSE')">HERE</a></p><br>
                <p><b>Contributors:</b></p>
                <p><a href="#" v-on:click="openexternal('https://hypherionmc.me/')">HypherionSA</a> - Main Developer/Author</p><br>
                <a href="#" class="btn btn-sm btn-outline-success" v-on:click="showAbout = false">Close</a>
            </div>
        </div>

        <!-- Navbar -->
        <div class="container-fluid nopad" style="height: 100vh;">

            <div class="navbar-vertical" v-if="isConfigLoaded">
                <div class="logobox">
                    <a href="#" v-on:click="openexternal('https://github.com/hypherionmc/simple-rpc-editor')"><img src="assets/img/rpc_edit_horizontal.svg" style="width: 100%"/></a>
                </div>

                <div class="linkbox">
                    <a v-for="(section, key) in configData" :class="[activeSection === key ? 'active' : '']" href="#" v-on:click="activeSection = key">
                        <i :class="getSectIcon(key)"></i>
                        <span class="nav-link-text">{{key | sectionToNormal}}</span>
                    </a>
                </div>

                <a href="#" class="sponsorbutton" data-toggle="tooltip" data-placement="right" title="Support the development of projects like these" v-on:click="openexternal('https://www.buymeacoffee.com/hypherionsa')">
                    <i class="fa fa-coffee"></i> Buy Me A Coffee
                </a>

                <div class="resourcebox">
                    <a href="#" class="resbutton" v-on:click="openexternal('https://github.com/hypherionmc/simple-rpc-editor/issues')" data-toggle="tooltip" data-placement="top" title="Report Issue"><i class="fab fa-github"></i></a>
                    <a href="#" class="resbutton" v-on:click="openexternal('https://github.com/hypherionmc/simple-rpc-editor/releases')" data-toggle="tooltip" data-placement="top" title="Latest Releases"><i class="fa fa-download"></i></a>
                    <a href="#" class="resbutton" v-on:click="openexternal('https://discord.gg/PdVnXf9')" data-toggle="tooltip" data-placement="top" title="Support Discord"><i class="fab fa-discord"></i></a>
                    <a href="#" class="resbutton" v-on:click="showAbout = !showAbout" data-toggle="tooltip" data-placement="top" title="About"><i class="fa fa-question-circle"></i></a>
                </div>

            </div>

        </div>

        <div class="editor-bar" v-if="isConfigLoaded">
            <p class="text-secondary"><i class="fa fa-file-alt text-danger" style="margin-right: 10px;"></i>Editing: {{configPath}}</p>
            <div class="editorbuttonbox">
                <a href="#" class="editor-button" data-toggle="tooltip" data-placement="bottom" :title="showPreview ? 'Hide Preview' : 'Show Preview'" v-on:click="showPreview = !showPreview"><i class="fa fa-eye" v-if="!showPreview"></i><i class="fa fa-eye-slash" v-if="showPreview"></i></a>
                <a href="#" class="editor-button" data-toggle="tooltip" data-placement="bottom" title="Save File" v-on:click="saveConfig"><i class="fa fa-save"></i></a>
                <a href="#" class="editor-button" data-toggle="tooltip" data-placement="bottom" title="Load File" v-on:click="loadConfigFile"><i class="fa fa-file"></i></a>
            </div>

        </div>

        <div class="editorBody" v-if="isConfigLoaded">

            <div class="card card-darker" v-if="configData.general != null">
                <div class="card-header card-darker text-white">
                    <h4 class="mb-0 text-white text-capitalize float-left">{{activeSection | sectionToNormal}} Config</h4> <a href="#" class="btn btn-success btn-sm float-right" v-if="activeSection === 'world_images'" v-on:click="addWorld(activeSection)">Add World</a>
                </div>
                <div class="card-body text-white">

                    <div class="mb-3 row" v-for="(value, key) in configData[activeSection]" v-if="key !== 'buttons' && key !== 'worlds'">
                        <label class="col-sm-2 col-form-label">{{key | camelToNormal}}</label>
                        <div class="col-sm-10">

                            <label class="custom-control custom-switch" v-if="typeof value === 'boolean'">
                                <input type="checkbox" class="custom-control-input" v-model="configData[activeSection][key]">
                                <span class="custom-control-label" data-label-off="No" data-label-on="Yes"></span>
                            </label>

                            <input type="text" class="form-control autoComp" :readonly="key === 'version'" v-if="typeof value !== 'boolean' && key !== 'largeImageKey' && key !== 'smallImageKey'" v-model="configData[activeSection][key]">

                            <select class="form-control custom-select" v-if="key === 'largeImageKey' || key === 'smallImageKey'" v-model="configData[activeSection][key]">
                                <option v-for="asset in appAssets" :value="asset.name">{{asset.name}}</option>
                            </select>

                        </div>
                    </div>

                    <div class="card card-secondary" v-if="configData.general != null && configData[activeSection].buttons != null">

                        <div class="card-header card-secondary text-white">
                            Buttons <button class="btn btn-sm btn-danger float-right" v-if="configData[activeSection].buttons.length < 2" v-on:click="addButton(activeSection)">Add</button>
                        </div>

                        <div style="padding: 10px;">
                            <div class="input-group mb-3" v-for="(button, index) in configData[activeSection].buttons">
                                <span class="input-group-text" style="border-radius: 5px 0px 0px 5px;">Label</span>
                                <input type="text" class="form-control" v-model="button.label" style="border-radius: 0px;">
                                <span class="input-group-text" style="border-radius: 0px;">Url</span>
                                <input type="text" class="form-control" v-model="button.url" style="border-radius: 0px;">
                                <button class="btn btn-warning btn-sm" v-on:click="deleteButton(activeSection, index)" style="border-radius: 0px 5px 5px 0px;">Delete</button>
                            </div>
                        </div>

                    </div>

                    <div class="card card-secondary" v-if="activeSection === 'world_images'" v-for="(world, key) in configData.world_images.worlds" style="margin-bottom: 10px;">

                        <div class="card-header card-secondary text-white">
                            World Override ({{world.worldname}})
                            <div class="btn-group float-right" role="group" aria-label="World Actions">
                                <button type="button" class="btn btn-success btn-sm" v-on:click="addWorld(activeSection)">Add World</button>
                                <button type="button" class="btn btn-danger btn-sm" v-on:click="deleteWorld(activeSection, key)">Delete</button>
                            </div>
                        </div>

                        <div style="padding: 10px;">
                            <div class="mb-3 row" v-for="(worldData, datakey) in world">
                                <label class="col-sm-2 col-form-label">{{datakey | camelToNormal}}</label>
                                <div class="col-sm-10">

                                    <select class="form-control custom-select" v-if="datakey === 'largeImageKey' || datakey === 'smallImageKey'" v-model="configData.world_images.worlds[key][datakey]">
                                        <option v-for="asset in appAssets" :value="asset.name">{{asset.name}}</option>
                                    </select>

                                    <input type="text" class="form-control" v-if="datakey === 'largeImageText' || datakey === 'smallImageText' || datakey === 'worldname'" v-model="configData.world_images.worlds[key][datakey]">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>


        <div class="toast" style="position: absolute; top: 75px; right: 10px;" data-delay="2000">
            <div class="toast-header">
                <i :class="'fa fa-' + toast.class + ' rounded mr-2'"></i>
                <strong class="mr-auto toast-title">{{toast.title}}</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                {{toast.body}}
            </div>
        </div>

        <!-- Preview -->
        <div class="rpc-container" :class="showPreview && !showAbout ? '' : ' hiderpc'">
            <div class="rpc" style="background: #000; width: 320px; height: 250px;" v-if="configPath !== 'Not Loaded'" v-if="configData.general != null">

                <div id="rpcLargeImage" style="background-size: 100% 100%; background-repeat: no-repeat; position: absolute; top: 62px; left: 20px; width: 60px; height: 60px; background: white; border-radius: 10px;" title=""></div>
                <div id="rpcSmallImage" style="background-size: 100% 100%; background-repeat: no-repeat; position: absolute; top: 104px; left: 64px; width: 20px; height: 20px; background: red; border-radius: 50%; z-index: 500" title="test"></div>

                <span class="rpcTitle text-white" style="position: absolute; top: 20px; left: 20px; font-size: 12px;"><b>PLAYING A GAME</b></span>
                <span class="rpcAppName text-white" style="position: absolute; top: 58px; left: 90px; font-size: 14px;"><b>Minecraft</b></span>
                <span class="rpcDescription text-white" style="position: absolute; top: 74px; left: 90px; white-space: nowrap; overflow: hidden; font-size: 12px; text-wrap: none; text-overflow: ellipsis; width: 200px;" title="">Config Not Loaded</span>
                <span class="rpcState text-white" style="position: absolute; top: 89px; left: 90px; white-space: nowrap; overflow: hidden; font-size: 12px; text-wrap: none; text-overflow: ellipsis; width: 200px;" title="">Config Not Loaded</span>
                <span class="rpcTimer text-white" style="position: absolute; top: 104px; left: 90px; font-size: 12px;">00:00 elapsed</span>

                <div class="rpcButtonContainer">

                </div>
            </div>
        </div>

    </div>

    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vue.min.js"></script>
    <script src="assets/js/neutralino.js"></script>
    <script src="assets/js/fast-toml.js"></script>
    <script src="assets/js/sweetalert2.all.min.js"></script>
    <script src="assets/js/app-main.js"></script>
</body>
</html>