<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com

=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

* Modifications made by HypherionMC
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Simple RPC Config Editor</title>

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="assets/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <!-- Argon CSS -->
    <link rel="stylesheet" href="assets/css/argon.css?v=1.2.0" type="text/css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body class="bg-gradient-dark">
    <div id="app">
        <!-- Sidenav -->
        <nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-dark bg-dark" id="sidenav-main">
            <div class="scrollbar-inner">
                <!-- Brand -->
                <div class="sidenav-header align-items-center">
                    <a class="navbar-brand" href="javascript:void(0)">
                        Simple RPC Editor
                    </a>
                </div>
                <div class="navbar-inner">
                    <!-- Collapse -->
                    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                        <!-- Nav items -->
                        <ul class="navbar-nav">

                            <li class="nav-item" v-for="(section, key) in configData">
                                <a class="nav-link" :class="[activeSection === key ? 'active' : '']" href="#" v-on:click="activeSection = key">
                                    <i :class="getSectIcon(key)"></i>
                                    <span class="nav-link-text">{{key | sectionToNormal}}</span>
                                </a>
                            </li>

                        </ul>

                        <!-- Divider -->
                        <hr class="my-3">
                        <!-- Heading -->
                        <h6 class="navbar-heading p-0 text-muted">
                            <span class="docs-normal">Resources</span>
                        </h6>
                        <!-- Navigation -->
                        <ul class="navbar-nav mb-md-3">

                            <li class="nav-item">
                                <a class="nav-link" href="https://github.com/hypherionmc/simple-rpc-editor/issues" target="_blank">
                                    <i class="fab fa-github"></i>
                                    <span class="nav-link-text">Report Issue</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="https://github.com/hypherionmc/simple-rpc-editor/releases" target="_blank">
                                    <i class="fa fa-download"></i>
                                    <span class="nav-link-text">Latest Releases</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="https://discord.gg/PdVnXf9" target="_blank">
                                    <i class="fab fa-discord"></i>
                                    <span class="nav-link-text">Discord</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active active-pro" href="https://www.buymeacoffee.com/hypherionsa" target="_blank">
                                    <i class="fa fa-coffee text-dark"></i>
                                    <span class="nav-link-text">Buy Me A Coffee</span>
                                </a>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        </nav>
        <!-- Main content -->
        <div class="main-content" id="panel">

            <!-- Header -->
            <div class="header bg-primary pb-6">
                <div class="container-fluid">
                    <div class="header-body">
                        <div class="row align-items-center py-4">
                            <div class="col-lg-6 col-7">
                                <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                                    <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                        <li class="breadcrumb-item"><a href="#"><i class="fas fa-file"></i></a></li>
                                        <li class="breadcrumb-item"><a href="#">{{configPath}}</a></li>
                                    </ol>
                                </nav>
                            </div>
                            <div class="col-lg-6 col-5 text-right">
                                <a href="#" class="btn btn-sm btn-neutral" v-on:click="loadConfigFile">Load Config File</a>
                                <a href="#" class="btn btn-sm btn-neutral" v-on:click="saveConfig">Save Config File</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Page content -->
            <div class="container-fluid mt--6 bg-gradient-dark">
                <div class="row">

                    <div class="col-xl-3 order-xl-2">
                        <div class="card card-profile" v-if="configData.general != null">

                            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4 bg-darker">
                                <div class="d-flex justify-content-between">
                                    <h4 class="text-white">Preview</h4>
                                </div>
                            </div>
                            <div class="card-body pt-0 bg-darker">
                                <div class="rpc" style="position: relative; background: #000; width: 320px; height: 250px;" v-if="configPath !== 'Not Loaded'">

                                    <div id="rpcLargeImage" style="background-size: 100% 100%; background-repeat: no-repeat; position: absolute; top: 62px; left: 20px; width: 60px; height: 60px; background: white; border-radius: 10px;" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></div>
                                    <div id="rpcSmallImage" style="background-size: 100% 100%; background-repeat: no-repeat; position: absolute; top: 104px; left: 64px; width: 20px; height: 20px; background: red; border-radius: 50%;"></div>

                                    <span class="rpcTitle text-white" style="position: absolute; top: 20px; left: 20px; font-size: 12px;"><b>PLAYING A GAME</b></span>
                                    <span class="rpcAppName text-white" style="position: absolute; top: 58px; left: 90px; font-size: 14px;"><b>Minecraft</b></span>
                                    <span class="rpcDescription text-white" style="position: absolute; top: 74px; left: 90px; white-space: nowrap; overflow: hidden; font-size: 12px; text-wrap: none; text-overflow: ellipsis; width: 240px;">Config Not Loaded</span>
                                    <span class="rpcState text-white" style="position: absolute; top: 89px; left: 90px; white-space: nowrap; overflow: hidden; font-size: 12px; text-wrap: none; text-overflow: ellipsis; width: 240px;">Config Not Loaded</span>
                                    <span class="rpcTimer text-white" style="position: absolute; top: 104px; left: 90px; font-size: 12px;">00:00 elapsed</span>

                                    <div class="rpcButtonContainer">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-9 order-xl-1" style="height: 100%;">

                        <h2 v-if="configData.general == null">No config loaded</h2>

                        <div class="card bg-gray-dark" v-if="configData.general != null">
                            <div class="card-header bg-gray-dark text-white">
                                <h3 class="mb-0 text-white text-capitalize">{{activeSection | sectionToNormal}} Config</h3>
                            </div>
                            <div class="card-body text-white">

                                <div class="mb-3 row" v-for="(value, key) in configData[activeSection]" v-if="key !== 'buttons' && key !== 'worlds'">
                                    <label class="col-sm-2 col-form-label">{{key | camelToNormal}}</label>
                                    <div class="col-sm-10">

                                        <label class="custom-toggle" v-if="typeof value === 'boolean'">
                                            <input type="checkbox" v-model="configData[activeSection][key]">
                                            <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
                                        </label>

                                        <input type="text" class="form-control autoComp" :readonly="key === 'version'" v-if="typeof value !== 'boolean' && key !== 'largeImageKey' && key !== 'smallImageKey'" v-model="configData[activeSection][key]">

                                        <select class="form-control custom-select" v-if="key === 'largeImageKey' || key === 'smallImageKey'" v-model="configData[activeSection][key]">
                                            <option v-for="asset in appAssets" :value="asset.name">{{asset.name}}</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="card bg-default" v-if="configData.general != null && configData[activeSection].buttons != null">

                                    <div class="card-header bg-default text-white">
                                        Buttons <button class="btn btn-sm btn-danger float-right" v-if="configData[activeSection].buttons.length < 2" v-on:click="addButton(activeSection)">Add</button>
                                    </div>

                                    <div style="padding: 10px;">
                                        <div class="input-group mb-3" v-for="(button, index) in configData[activeSection].buttons">
                                            <span class="input-group-text">Label</span>
                                            <input type="text" class="form-control" v-model="button.label">
                                            <span class="input-group-text">Url</span>
                                            <input type="text" class="form-control" v-model="button.url">
                                            <button class="btn btn-warning btn-sm" v-on:click="deleteButton(activeSection, index)">Delete</button>
                                        </div>
                                    </div>

                                </div>

                                <div class="card bg-default" v-if="activeSection === 'world_images'" v-for="(world, key) in configData.world_images.worlds">

                                    <div class="card-header bg-default text-white">
                                        World Override ({{world.worldname}})
                                        <div class="btn-group float-right" role="group" aria-label="World Actions">
                                            <button type="button" class="btn btn-success btn-sm" v-on:click="addWorld(activeSection)">Add World</button>
                                            <button type="button" class="btn btn-danger btn-sm" v-on:click="deleteWorld(activeSection, key)">Delete</button>
                                        </div>
                                    </div>

                                    <div style="padding: 10px;">
                                        <div class="mb-3 row" v-for="(worldData, datakey) in world">
                                            <label class="col-sm-2 col-form-label">{{datakey}}</label>
                                            <div class="col-sm-10">

                                                <select class="form-control custom-select" v-if="datakey === 'largeImageKey' || datakey === 'smallImageKey'" v-model="configData.world_images.worlds[key][datakey]">
                                                    <option v-for="asset in appAssets" :value="asset.name">{{asset.name}}</option>
                                                </select>

                                                <input type="text" class="form-control" v-if="datakey === 'largeImageText' || datakey === 'smallImageText' || datakey === 'worldname'" v-model="configData.world_images.worlds[key][datakey]">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Argon Scripts -->
    <!-- Core -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
    <!-- Argon JS -->
    <script src="assets/js/argon.js?v=1.2.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.all.min.js"></script>
    <script src="assets/js/neutralino.js"></script>
    <script src="assets/js/fast-toml.js"></script>
    <script src="assets/js/app-main.js"></script>

</body>
</html>