html, body {
    background: linear-gradient(87deg, #212529 0, #212229 100%) !important;
    height: 100%;
}

.nopad {
    padding: 0 !important;
}

.appBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    background: rgb(5, 8, 24);
    width: 100%;
    overflow: hidden;
    line-height: 50px;
}

.appbutton {
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    float: right;
    line-height: 50px;
}
.appbutton i {
    font-size: 14px;
}
.closebut:hover{
    background: #D64441;
}
.secondarybut:hover {
    background: #1B2533;
}

.titletext {
    font-size: 25px;
    color: white;
    margin-left: 10px;
}
.applogo {
    width: 50px;
    height: 50px;
}
.buttonbox {
    position: absolute;
    right: 0px;
    top: 0px;
}

.noconfigsplash {
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5000;
}

.navbar-vertical
{
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background: rgb(5, 8, 24);
    overflow: hidden;
}

.sponsorbutton {
    position: fixed;
    bottom: 62.5px;
    left: 0px;
    text-align: center;
    text-decoration: none !important;
    height: 45px;
    width: 250px;
    line-height: 45px;
    background: mintcream;
    color: black;
    font-weight: bold;
    transition: all 0.5s;
}

.sponsorbutton:hover {
    box-shadow: 0px 0px 2px mintcream, 0px 0px 5px mintcream;
}

.logobox {
    padding: 20px;
    border-bottom: 1px solid gray;
}

.linkbox {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

.linkbox a {
    display: block;
    line-height: 40px;
    padding-left: 20px;
    width: 100%;
    height: 40px;
    text-decoration: none !important;
    border-radius: 5px;
    color: white;
}

.linkbox a > i {
    margin-right: 10px;
}

.linkbox .active {
    background: aliceblue;
    color: black;
}

.resourcebox {
    position: fixed;
    bottom: 0;
    left: 0;
}

.resbutton {
    transition: all 0.5s;
    display: block;
    width: 62.5px;
    height: 62.5px;
    text-align: center;
    line-height: 62.5px;
    font-size: 28px;
    color: white;
    float: left;
    text-decoration: none !important;
}

.resbutton:hover {
    color: white;
    background: #1B2533;
}

.editor-bar {
    position: fixed;
    top: 0;
    left: 250px;
    float: right;
    line-height: 65px;
    height: 65px;
    width: 100%;
    background: rgb(5, 8, 24);
    border-bottom: 1px solid gray;
    overflow: hidden;
    padding-left: 20px;
    border-left: 1px solid white;
}

.editorbuttonbox {
    position: fixed;
    top: 0;
    right: 0;
}

.editor-button {
    text-align: center;
    display: block;
    width: 65px;
    height: 65px;
    float: right;
    font-size: 25px;
    color: white;
    transition: all 0.5s;
}

.editor-button:hover {
    background: #1B2533;
    border-bottom: 1px solid gray;
}

.editorBody {
    position: fixed;
    top: 65px;
    left: 250px;
    width: calc(100vw - 250px);
    height: calc(100vh - 65px);
    overflow-y: auto;
    padding: 20px;
}

.card-darker {
    background: #1a2537;
}

.card-secondary {
    background: #121925;
}

.loading-animation {
    position: relative;
    color: rgba(0, 0, 0, .3);
    font-size: 3em;
}

.loading-animation:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 7em;
    white-space: nowrap;
    color: #fff;
    animation: loading 5s linear;
}
@keyframes loading {
    0% {
        max-width: 0;
    }
}

.splashscreen {
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.rpc-container {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 99999;
}

.hiderpc {
    display: none;
}

.tooltip {
    z-index: 10000;
}

.aboutsplash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5000;
    background: rgb(5, 8, 24);
}